{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
    <div class="container mt-5">
		<p class="h3">Task #2 - Credit Management</p>
		<br>
    	<ul>
			<li>Start with creating dummy data in database for upto 10 users. Database options: Mysql, Mongo, Postgres, etc. User table will have basic fields such as name, email, current credit etc. Transfers table will record all transfers happened.</li>
    		<li>Flow: Home Page > View all Users > Select and View one User > Transfer Credit > Select user to transfer to > View all Users. Credit is sort of points which can be transferred from one user to another user.</li>
    		<li>No Login Page. No User Creation. Only transfer of credit between multiple users.</li>
			<li>Host the website at 000webhost, github.io, heroku app or any other free hosting provider. Check in code in gitlab.</li>
		</ul>
    </div>
{% endblock %}