{% extends "layout.html" %}

{% block title %}
    Transfer Credit
{% endblock %}

{% block body %}
    <div class="container mt-5">   
        {% if request.session.username %}
        <form method="post"> {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label">Transfer Credits From: </label>
                <label class="col-form-label">{{ request.session.username }}</label> 
                <input type="hidden" value={{ request.session.userid }} name="from-user">   
            </div>
            <div class="form-group">
                <label class="col-form-label">Transfer Credits To: </label>
                <select class="form-control" name="to-user">
                    {% for user in users %}
                        <option value={{ user.id }}>{{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="col-form-label">Number of Credits: </label>
                <input class="form-contol" type="number" name="credits">
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <a href="{% url 'users' %}">Please Select User First!</a>
            </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}